/* Geral */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: underline;
}

/* Main */
main {
    padding: 40px 20px;
    text-align: center;
}

/* Hero */
.hero {
    background-color: #4CAF50;
    color: white;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero h2 {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo */
    font-size: 36px;
    margin-bottom: 10px;
}

.hero h2 .logo-transforme {
    width: 50px;  /* Aumentei o tamanho da logo */
    height: auto;
    margin-right: 10px;  /* Espaçamento entre a logo e o texto */
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.feature {
    background-color: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}
